.page-body {
    margin-top: 0vh;
    height: 150vh;
    overflow : hidden;
    background-color: khaki;
}
.main-card {
  margin-top: 20vh;
  margin-left: 5vw;
  width: 90vw;
  height: 60vh;
  background-color: #333;
}

.btn {
    position: absolute;
}
.bookings {
  top: 55vh;
  left: 27.5vw;
  width: 45vw;
  height: 10vh;
}

.add-movies {
  top: 35vh;
  left: 27.5vw;
  width: 45vw;
  height: 10vh;
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

$colors: (
  pulse: #488aff,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

button {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #fff;
  }
}
